

html, body {
	height: 17vh; /*mistero della fede:se tolgo questo non funziano i link*/
	margin: 0px;
	padding: 0px;
		color: white !important;
	
}

header {
	text-align: left;
	background-color: black;
	background-size:cover;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
		color: black;
}

body {
	background-color: black !important;
	font-family: 'Josefin Sans', sans-serif !important;

}

#homeicon {
	font-size: 1.5vw;
	padding: 2px 3px;
}

nav ul { list-style-type: none;}

nav ul li {
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px ; /*aggiusta in index*/
	padding-left: 3%;
	font-size: 2vw;
	margin: auto;

} 	

#meno {    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

#navartisti {padding-right: 3em !important;}


.navlink {
	color: black;
	text-decoration: none; 
}

.navlink:hover {
 	color: black;
 	text-decoration: underline;
}

#backgroundnav {
	margin: 0px auto;
	text-align: right !important;
	background-color: rgb(255, 255, 255, 0.6); /*invece di usare comando opacity, ho usato Opacità con rgba così che l'op non fosse ereditata da elementi figli*/
	height: 100% ;
	width: 100%;
	position: static;  /*grazie a static il nav non segue più lo scroll, per le altre pagine funziona, perchè qui no? */
	padding: 1%;
}

#immaginelogo { 
	padding: 0%; 
	float: left;
	max-width: 20% !important;
	height: 100%;
}


.breadcrumb {background-color: black!important;
}

.breadcrumb-item {color: white !important;}

.breadcrumb a {color: white !important;}


#titolo {
	font-size: 7vw;
	text-align: center;
}

.contenuti {padding: 2vw;}

.blocco {padding: 2vw;}

footer {
	color: white;
	background-color: black;
}

.linkfooter {
	color: white;
	text-decoration: none;
}

.linkfooter:hover {color: white;}


#footericon {
	padding-left: 1vw;
}

#iconesocial {
	padding-left: 1vw;
	color: white;
	width: 1%; /*perchè width mi controlla la distanza tra icone, invece che la grandezza?*/
}

#iconesocial2 {
	color: white;
}

#testofooter {
	padding-top: 1em;}

.lesspadding {margin-bottom: 0px !important; }

.contenuti {
    padding: 0px 2vw !important; 
}

footer {background-color: black !important;}

.destra {margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 5% !important;
    margin-inline-end: 0px;}
}


