

html, body {
	height: 17vh; /*mistero della fede:se tolgo questo non funziano i link*/
	margin: 0px;
	padding: 0px;
	
}

header {
	text-align: left;
	background-color: #e0da48;
	background-size:cover;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	background-color:  #e0da48 !important;
	font-family: 'Josefin Sans', sans-serif !important;
}

#homeicon {
	font-size: 1.5vw;
	padding: 2px 3px;
}

nav ul { list-style-type: none;}

nav ul li {
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px ; /*aggiusta in index*/
	padding-left: 3%;
	font-size: 2vw;
	margin: auto;

} 	

#meno {    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

#navartisti {padding-right: 3em !important;}


.navlink {
	color: black;
	text-decoration: none; 
}

.navlink:hover {
 	color: black;
 	text-decoration: underline;
}

#backgroundnav {
	margin: 0px auto;
	text-align: right !important;
	background-color: rgb(255, 255, 255, 0.6); /*invece di usare comando opacity, ho usato Opacità con rgba così che l'op non fosse ereditata da elementi figli*/
	height: 100% ;
	width: 100%;
	position: static;  /*grazie a static il nav non segue più lo scroll, per le altre pagine funziona, perchè qui no? */
	padding: 1%;
}

#immaginelogo { 
	padding: 0%; 
	float: left;
	max-width: 20% !important;
	height: 100%;
}


.breadcrumb {background-color: #e0da48 !important;
}

.breadcrumb-item {color: black !important;}


.breadcrumb a {color: black !important;}

main h1 {
	padding-top: 3vh;
	padding-bottom: 3vh;
	padding-left: 2vw;
	font-size: 7vw;
	text-align: center;
} /* da risolvere: non ha preso l'istruzione del font*/

#testoabstract {padding-top: 1.5%;
				padding-left: 4%;
				padding-right: 4%;
				padding-bottom: 0%;
				text-align: justify;
}

#testopmp {
	padding-top: 1.5%;
	padding-left: 4%;
	padding-bottom: 0%;
}

h2 {
	padding-top: 3vh;
	text-align: center;
	color: white;
}

#ob {
	margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
	padding margin-bottom: 0% !important;}

h3 {
    margin-block-start: 1.5% !important ;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
 }

h4 {
    margin-block-start: 1.3% !important ;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
 }

 p {
    margin-block-start: 0px !important ;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

h5 {
	margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

#competitor1 {padding-left: 2%;
}

h6 {
	font-size: 2% !important;
	margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer {
	color: white;
	background-color: black;
}

.linkfooter {
	color: white;
	text-decoration: none;
}

.linkfooter:hover {color: white;}


#footericon {
	padding-left: 1vw;
}

#iconesocial {
	padding-left: 1vw;
	color: white;
	width: 1%; /*perchè width mi controlla la distanza tra icone, invece che la grandezza?*/
}

#iconesocial2 {
	color: white;
}

#testofooter {
	padding-top: 1em;}

.lesspadding {margin-bottom: 0px !important; }

.contenuti {
    padding: 0px 2vw !important; 
}

footer {background-color: black !important;}

.destra {margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 5% !important;
    margin-inline-end: 0px;}
